<header class="space-y-1">
    <h1 class="text-3xl md:text-5xl font-bold pb-4">Sepsis - Using Clinical Healthcare Data Science to Identify and Combat an Infectious Killer</h1>
    <div class="flex items-center space-x-2">
      <p class="text-lg md:text-xl">Data Science Capstone Domain - DSC 180AB</p>
    </div>
    <p class="text-lg md:text-xl">Fall & Winter {{ site.data.variables.year }} - <a href="https://www.kmshannon.com/" class="text-blue-600 hover:text-blue-900 hover:underline">Prof. Kyle Shannon</a></p>
    <div class="flex items-center space-x-2">
      <span class="px-2 md:px-6 py-0.5 rounded-md text-xs md:text-sm font-bold text-white bg-teal-500">{{ site.data.variables.section_day }} @ {{ site.data.variables.section_time }}</span>
      <span class="px-2 md:px-6 py-0.5 rounded-md text-xs md:text-sm font-bold text-white bg-teal-500">{{ site.data.variables.section_location }}</span>
      <span class="px-2 md:px-6 py-0.5 rounded-md text-xs md:text-sm font-bold text-white bg-teal-500">{{ site.data.variables.section }}</span>
    </div>
  </header>
